# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# Byte-compiled / cache
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/
